@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  font-weight: 300;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}
