@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  font-weight: 300;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.app {
  position: relative;
}
