.form {
  h2 {
    text-align: center;
  }

  fieldset {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;

    legend {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }

  .input_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    & > div {
      width: 100%;
      position: relative;

      .company_logo {
        position: absolute;
        max-width: 60px;
        max-height: 60px;
        top: -60px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);

        @media screen and (max-width: 600px) {
          top: -118.5px;
          right: 0;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }

    label,
    input,
    select {
      display: block;
      width: 100%;

      &[type="date"] {
        ::-webkit-calendar-picker-indicator {
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }

    label.file_upload_wrapper {
      position: relative;
      text-align: center;
      padding: 10px 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 0;

      input[type="file"] {
        display: none;
        position: absolute;
      }
    }

    @media screen and (max-width: 600px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      & > div {
        margin-bottom: 10px;
      }
    }
  }

  label {
    margin-bottom: 10px;
  }

  input,
  textarea,
  button,
  select {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fafafa;

    &:not(button) {
      background-color: #222;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
    }
  }

  button {
    background-color: #e619a1;
    border-color: #e619a1;
    border: 0;
  }

  .invoice_items {
    .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px;

      input {
        width: calc(92% / 3);
      }

      input:nth-child(1) {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      input:nth-child(2) {
        border-left: none;
        border-right: none;
        border-radius: 0;
      }

      input:nth-child(3) {
        border-left: none;
        border-right: none;
        border-radius: 0;
      }

      button {
        min-width: 8%;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
        font-size: 20px;
      }

      @media screen and (max-width: 600px) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 10px;

        input,
        button {
          width: 100%;
          margin-bottom: 5px;
          border: 1px solid #333 !important;
          border-radius: 4px !important;
        }
      }
    }

    & > button {
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  & > button {
    float: right;
    font-size: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-transform: uppercase;

    &:hover {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &::after {
    display: table;
    content: "";
    clear: both;
  }
}
